<!DOCTYPE html>
<!-- 
Yusha Aziz
SoftDev
K11 -- flask-forms
2022-10-14
time spent: 1 hour

     simple demo of HTML forms via Flask
     
     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.
     
     PROTIP: Revisit code from intro if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>    
    <form action="/auth"> <!-- The significance of this line, is that when you hit submit it puts /auth in your action
      and takes you to @app.route("/auth")
      This is built into the HTML structure. It is linking up the front and the back end. 
      The action is adding an "/auth" after the current web address. -->
      Username: <input type="text" name="username" required> 
      <br>
      Password: <input type="password" name ="password" required>
      <br>
      <input type="submit" name="sub1"> 
      {% if error == "Wrong Password HEHEHEHAWWWWW" %} <!-- this code will run if there is an error: Wrong password -->
         <action= "/">
         <br>
         Password is WRONG, Try Again
      {% endif %}

      {% if error == "Username Does not Exist, GO BACK" %} <!-- this code will run if there is an error: USERNAME DNE!  -->
      <action= "/">
      <br>
      Username is WRONG, Try Again
   {% endif %}

      
    </form>

    



    <br>
  </body>



</html>
