<!DOCTYPE html>

<html>
    <head>
        <title>API RESPONE</title>
    </head>

    <body>

        <h3 style="color:salmon">
            TNPG: Untitled (Andrew, Raven, )
            <br>
            SoftDev
            <br>
            K20 - A RESTful Journey Skyward/REST API/Called a nasa api to display an image and blurb
            <br>
            2022-11-21
            <br>
            time:20min
        </h3>

        <div>
            <h2>This is the {{title}}</h2>
        </div>

        <div>
            <img src="{{img_url}}">
        </div>

        <div>
            <p>
                {{blurb}}
            </p>

        </div>
        
    </body>
</html>